In [20]:
# 企業の財務情報を取得してデータフレームに格納する関数を定義
from bs4 import BeautifulSoup
import requests
import pandas as pd
import numpy as np

def make_table(com_id):
    date = []
    var_dic = {}
    url = 'https://www.buffett-code.com/company/' + com_id + '/financial'
    html=requests.get(url).text
    soup = BeautifulSoup(html, "html.parser")
    tables=soup.find_all("table",class_ = "table custom-table table-hover table-condensed")

    for i in tables[0].find('thead').find_all('th')[1:]:
        date.append(i.get_text().replace('年','/').replace('月期',''))
    var_dic['date'] = date
    var_dic['id'] = com_id
    
    for table in tables:
        make_df(table,var_dic)
        
    return pd.DataFrame(var_dic).convert_objects(convert_numeric=True).replace('-',np.nan)

def make_df(table,var_dic):
    for j in table.find('tbody').find_all('tr'):
        value = [value.get_text().replace(',','').replace('%','').replace('人','').replace('倍','').replace('株','').replace('ヶ月','').replace('日','') for value in j.find_all('td')]
        var_dic[value[0]] = value[1:]
    return var_dic

In [62]:
# idsに定義した証券コードの財務データをsqliteに格納をする
ids = ['8411','7203','1301','1332','1333','1352','1376','1377']
conn = sqlite3.connect('db.sqlite3')
for com_id in ids:
    # 作成したデータをtempとして格納
    make_table(com_id).to_sql('zaimu_data_temp',conn,if_exists='replace',index=None)
    conn.commit()
    try :
        pd.read_sql_query('SELECT * FROM zaimu_data', conn)
    except :
        make_table(com_id).to_sql('zaimu_data',conn,if_exists='replace',index=None)
        conn.commit()
    add_data = pd.read_sql_query('SELECT a.* FROM zaimu_data_temp AS a LEFT OUTER JOIN zaimu_data AS b ON a.date = b.date AND a.id = b.id WHERE b.date IS NULL', conn)
    add_data.to_sql('zaimu_data',conn,if_exists='append',index=None)
    conn.commit()
conn.close()

C:\Users\hirou\Anaconda3\lib\site-packages\ipykernel_launcher.py:23: FutureWarning: convert_objects is deprecated.  To re-infer data dtypes for object columns, use DataFrame.infer_objects()
For all other conversions use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
C:\Users\hirou\Anaconda3\lib\site-packages\pandas\core\generic.py:2130: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  dtype=dtype)

In [63]:
# 格納したデータを確認する
conn = sqlite3.connect('db.sqlite3')
df=pd.read_sql_query('SELECT * FROM zaimu_data', conn)
print(df)
conn.close()

      date    id         売上高    前期比        売上原価      売上総利益 売上総利益率        販管費  \
0   2017/3  8411   3292900.0   90.0         NaN        NaN               NaN
1   2018/3  8411   3561125.0   95.5         NaN        NaN               NaN
2   2019/3  8411   3925649.0   16.7         NaN        NaN               NaN
3   2020/3  8411         NaN  486.7         NaN        NaN   None        NaN
4   2016/3  7203  28403118.0  106.5  22600000.0  5800000.0   20.4  2940000.0
5   2017/3  7203  27597193.0   79.2  22700000.0  4860000.0   17.6  2870000.0
6   2018/3  7203  29400000.0  136.1  23900000.0  5490000.0   18.7  3090000.0
7   2019/3  7203  30000000.0   90.4         NaN        NaN   None        NaN
8   2017/3  1301    236561.0  134.6    213292.0    23268.0    9.8    19544.0
9   2018/3  1301    254783.0  132.6    231180.0    23603.0    9.3    19536.0
10  2019/3  1301    256151.0   90.8    232446.0    23705.0    9.3    19873.0
11  2020/3  1301    286000.0  130.4         NaN        NaN   None        NaN
12  2017/3  1332    635953.0  118.6    501371.0   134581.0   21.2   111934.0
13  2018/3  1332    683008.0  121.9    542296.0   140711.0   20.6   117222.0
14  2019/3  1332    712111.0   88.7    573385.0   138725.0   20.6   117039.0
15  2020/3  1332    710000.0  113.8         NaN        NaN   None        NaN
16  2017/3  1333    873295.0  377.0    746954.0   126341.0   14.5   100033.0
17  2018/3  1333    918820.0  104.2    793705.0   125115.0   13.6   100617.0
18  2019/3  1333    922468.0  103.7    798618.0   123849.0   13.6   102091.0
19  2020/3  1333    940000.0  101.8         NaN        NaN   None        NaN
20  2017/3  1352     73761.0  175.6     68003.0     5757.0    7.8     4958.0
21  2018/3  1352     73928.0   60.1     68216.0     5711.0    7.7     4874.0
22  2019/3  1352     76880.0   79.0     71175.0     5704.0    7.7     5052.0
23  2020/3  1352     79500.0   92.5         NaN        NaN   None        NaN
24  2016/5  1376     58099.0  107.2     48950.0     9148.0   15.7     7004.0
25  2017/5  1376     57848.0  101.6     48637.0     9210.0   15.9     7195.0
26  2018/5  1376     59102.0   65.7     49857.0     9244.0   15.6     7497.0
27  2019/5  1376     60000.0  143.1         NaN        NaN   None        NaN
28  2016/5  1377     58773.0  136.5     27539.0    31234.0   53.1    23916.0
29  2017/5  1377     61844.0  117.2     28269.0    33574.0   54.3    25871.0
30  2018/5  1377     62412.0   94.4     28090.0    34321.0   55.0    26767.0
31  2019/5  1377     63800.0  105.8         NaN        NaN   None        NaN

         営業利益 営業利益率  ...    のれん償却費       投資CF      財務CF       フリーCF  \
0         NaN        ...    2816.0  5796391.0  -24537.0  10486522.0
1         NaN        ...    4154.0 -2316197.0  149962.0    650504.0
2         NaN        ...    4080.0  5487153.0  -18640.0    650504.0
3         NaN  None  ...       NaN        NaN       NaN         NaN
4   2850000.0  10.0  ...       NaN -3180000.0 -424000.0   1278320.0
5   1990000.0   7.2  ...       NaN -2970000.0 -375000.0    440000.0
6   2400000.0   8.2  ...       NaN -3660000.0 -449000.0    550000.0
7   2550000.0   8.5  ...       NaN        NaN       NaN         NaN
8      3723.0   1.6  ...       NaN    -1998.0     105.0     -1397.0
9      4066.0   1.6  ...       NaN    -1179.0     255.0      2022.0
10     3831.0   1.6  ...       NaN    -2494.0    5958.0      2022.0
11     5500.0  None  ...       NaN        NaN       NaN         NaN
12    22646.0   3.6  ...     959.0    -7445.0  -11517.0     22734.0
13    23489.0   3.4  ...     416.0   -21742.0   -7950.0      6762.0
14    21685.0   3.4  ...     259.0   -16803.0  -15956.0      6762.0
15    24000.0  None  ...       NaN        NaN       NaN         NaN
16    26308.0   3.0  ...    1192.0   -11097.0  -13618.0     14872.0
17    24497.0   2.7  ...    1184.0   -14975.0  -13314.0     14762.0
18    21758.0   2.7  ...    1006.0   -11854.0   -7863.0     14762.0
19    25500.0  None  ...       NaN        NaN       NaN         NaN
20      799.0   1.1  ...      28.0    -4484.0    2886.0     -2880.0
21      837.0   1.1  ...      28.0       44.0   -2351.0      2268.0
22      651.0   1.1  ...      28.0    -6086.0    5612.0      2268.0
23      720.0  None  ...       NaN        NaN       NaN         NaN
24     2144.0   3.7  ...       NaN     -209.0    -608.0      2134.0
25     2015.0   3.5  ...       NaN      -28.0   -1265.0      1677.0
26     1747.0   3.0  ...       NaN     -659.0    -308.0       857.0
27     1900.0   3.2  ...       NaN        NaN       NaN         NaN
28     7317.0  12.4  ...       NaN    -3430.0     335.0       954.0
29     7702.0  12.5  ...       NaN    -2901.0   -2016.0      4712.0
30     7553.0  12.1  ...       NaN    -4909.0    -646.0      -292.0
31     7100.0  11.1  ...       NaN        NaN       NaN         NaN

        設備投資額      研究開発費        発行済式総数      従業員数  売上/従業員 営利/従業員
0         NaN        NaN  2.536632e+10   59179.0    55.0    0.0
1         NaN        NaN  2.536482e+10   60051.0    59.0    0.0
2         NaN        NaN  2.535854e+10       NaN    59.0    0.0
3         NaN        NaN           NaN       NaN     NaN    NaN
4   4070000.0  1060000.0  3.337997e+09  348877.0    81.0    8.0
5   3530000.0  1040000.0  3.262997e+09  364445.0    75.0    5.0
6   1300000.0  1060000.0  3.262997e+09  369124.0    79.0    6.0
7         NaN        NaN           NaN       NaN     NaN    NaN
8         NaN      280.0  1.050277e+07    2193.0   107.0    1.0
9         NaN      290.0  1.078357e+07    2257.0   112.0    1.0
10        NaN        NaN  1.081917e+07       NaN   112.0    1.0
11        NaN        NaN           NaN       NaN     NaN    NaN
12    22519.0     4348.0  3.114846e+08    8722.0    72.0    2.0
13    27528.0     4856.0  3.114815e+08    9003.0    75.0    2.0
14        NaN        NaN  3.111462e+08       NaN    75.0    2.0
15        NaN        NaN           NaN       NaN     NaN    NaN
16    19071.0        NaN  5.263381e+07   11237.0    77.0    2.0
17    16697.0        NaN  5.263013e+07   10938.0    84.0    2.0
18        NaN        NaN  5.262638e+07       NaN    84.0    2.0
19        NaN        NaN           NaN       NaN     NaN    NaN
20     4336.0        NaN  8.374108e+06     314.0   234.0    2.0
21      559.0        NaN  8.373775e+06     321.0   230.0    2.0
22        NaN        NaN  8.373687e+06       NaN   230.0    2.0
23        NaN        NaN           NaN       NaN     NaN    NaN
24        NaN      583.0  1.177200e+07     599.0    96.0    3.0
25        NaN      610.0  1.174107e+07     653.0    88.0    3.0
26        NaN      635.0  1.174010e+07     653.0    90.0    2.0
27        NaN        NaN           NaN       NaN     NaN    NaN
28     3093.0        NaN  4.841075e+07    2186.0    26.0    3.0
29     2281.0        NaN  4.500163e+07    2275.0    27.0    3.0
30     5052.0        NaN  4.499933e+07    2364.0    26.0    3.0
31        NaN        NaN           NaN       NaN     NaN    NaN

[32 rows x 81 columns]

In [64]:
# 参考: zaimu_dataから各証券番号ごとの売上最大値を求める
conn = sqlite3.connect('db.sqlite3')
df=pd.read_sql_query('SELECT id,date,MAX(売上高) AS 最大値 FROM zaimu_data GROUP BY id', conn)
print(df)
conn.close()

     id    date         最大値
0  1301  2020/3    286000.0
1  1332  2019/3    712111.0
2  1333  2020/3    940000.0
3  1352  2020/3     79500.0
4  1376  2019/5     60000.0
5  1377  2019/5     63800.0
6  7203  2019/3  30000000.0
7  8411  2019/3   3925649.0